img{
  width: 100%;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  overflow-y: hidden;
}
.container{
  display: flex ;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: absolute;
  background-color: rgb(17, 17, 66);
  width: 35%;
  height: 100%;
}


.input-container {
  position: relative;
  width: 320px;
  margin: 20px auto;
}

.input-container i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(38, 38, 70);;
}

.input-container input {
  width: 100%;
  padding: 10px 10px 10px 500px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.input-container input:focus {
  border-color: #007BFF;
  outline: none;
}

input[type=submit]{
  background-color: #ccc; font-weight: bold;


}